Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^wttf.herokuapp.com
RewriteRule (.*) https://wttf.herokuapp.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9} /index.php HTTP/
RewriteRule ^index.php$ https://wttf.herokuapp.com/ [R=301,L]